.naslov {
  background-color: $primary-color;
  text-align: center;
  border-radius: 10px;
  padding: 15px 0;
}

.background {

  &__title {
    margin: 0;
    padding-bottom: 15px;
  }

  &__details {
    display: flex;
    background-color: #fff;
    padding: 15px;

    @include responsive(null, md) {
      flex-direction: column;
      align-items: center;
    }

    &--img {
      width: 160px;
      height: 160px;
      background-size: cover;
      background-repeat: no-repeat;
      flex: 0 0 30%;
    }

    &--info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.contact {

  &__title {
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.paragraph {
  display: inline-block;
  margin: 0;

  @include responsive(null, md) {
    margin-bottom: 15px;
  }
}

.izmeni-podatke {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;

  @include responsive(null, md) {
    flex-direction: column;
    align-items: center;
  }
}

.marketing {
  color: $secondary-color;
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.link {
  display: block;
  color: $secondary-color;
}

.blue {
  @include responsive(null, md) {
    text-align: center;
    padding-top: 15px;
  }
}

.nalog {
  padding-left: 20px;
  &__naslov {
    margin-bottom: 0;
    &--hr {
      width: 50%;
      margin-left: 0;
    }
  }

  &__lista {
    padding: 0;
    :not(last-child) {
      padding-bottom: 5px;
    }
  }
}