/* global styling
--------------------*/
* {
  box-sizing: border-box;
  outline: 0;
}

body {
  font-size: $default-font-size;
  color: $text-color;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

body a {
  text-decoration: none;
  color: $text-color;
}

body ul {
  list-style: none;
}

