/* global styling
--------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  font-size: $default-font-size;
  color: $text-color;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

body a {
  text-decoration: none;
  color: $text-color;
}

body ul {
  list-style: none;
}

