/* global styling
--------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Quintessential');


* {
  box-sizing: border-box;
  outline: 0;
}

img {
  max-width: 100%;
}

body {
  font-size: $default-font-size;
  color: $text-color;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Quintessential', sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

body a {
  text-decoration: none;
  color: $text-color;
}

body ul {
  list-style: none;
}

.divider {
  height: 20px;
  background-color: $primary-color;
}

.btn {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;

  &-primary {
    background-color: $primary-color;
  }

  &-secondary {
    background-color: $secondary-color;
  }
}

.move-right {
  float: right;
}

.move-left {
  float: left;
}

.section-title {
  span {
    color: $secondary-color
  }
}

.text-center {
  text-align: center;
}

