header {
  background-color: $primary-color;

  .top-bar {
    height: 45px;
    > .row--flex {
      height: 100%;
      >  [class^="col-"] {
        justify-content: space-between;
      }
    }

    &__left {
      display: flex;
      width: 300px;
      justify-content: space-between;
      margin: 0;
      padding: 0;

      @include responsive(null,md) {
        justify-content: center;
      }

      &--text {
        display: flex;
        align-items: center;

        span {
          margin-left: 5px;
        }

        > a {
          color: lighten($text-color, 20%);
          transition: all 0.5s ease;


          &:hover {
            color: $text-color;
            transition: all 0.5s ease;

            i {

              transition: all 0.5s ease;
              color: $secondary-color;

              &:last-child {
                color: inherit;
              }
            }
          }
        }

        @include responsive(null,md) {
          margin: 0 15px;
        }
      }

      @include responsive(null, md) {
        width: 100%;
      }
    }


    &__right {
      @extend .top-bar__left;
      width: 500px;

      span {
        margin: 0 10px;
      }

      @include responsive(null,md) {
        justify-content: space-between;
      }
      &--text {
        @extend .top-bar__left--text;
        position: relative;

        &:first-child {
          > a {
            border-left: none;
          }
        }

        > a {
          border-left: 1px solid $secondary-color;
          padding-left: 20px;
        }

        &:hover {
          .top-bar__right--dropdown {
            top: 100%;
            visibility: visible;
            opacity: 1;
            transition: all 0.3s ease;
          }
        }

        @include responsive(null,md) {
          margin: 0;
        }
      }

      &--dropdown {
        position: absolute;
        top: 120%;
        right: 0;
        width: 150%;
        padding-top: 15px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;
        z-index: 999;

        ul {
          display: flex;
          flex-direction: column;
          padding: 20px;
          background-color: #fff;
          border: 1px solid $secondary-color;

          li {
            padding: 10px 0;
            border-bottom: 1px solid rgba($secondary-color, .1);

            &:first-child {
              padding-top: 0;
            }

            &:last-child {
              padding-bottom: 0;
              border-bottom: none;
              font-style: italic;

              a {
                color: $secondary-color;
              }
            }

            a {
              font-size: 1.1em;
              transition: all 0.5s ease;

              &:hover {
                color: $secondary-color;
              }
            }
          }
          &:after {
            content: '';
            position: absolute;
            top: 1px;
            right: 15px;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid #fff;
          }

          &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 15px;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid $secondary-color;
          }
        }
      }

      @include responsive(null, md) {
        width: 100%;

        &--text {
          > a {
            border-left: none;
            padding: 0;
          }
        }
      }

      @include responsive(null, sm) {
        &--text {
          a {
            i:first-child {
              display: none;
            }
          }
        }
      }
    }
  }

  .navigation {
    background-color: #fff;
    height: 100px;

    > .container, .row--flex {
      height: 100%;
    }

    &__logo-wrapper {
      align-items: center;

      &--image {
        width: 245px;
        height: 62px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__navbar {
      display: flex;
      align-items: center;
      width: 100%;

      &--menu {
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
        justify-content: flex-end;

        @include responsive(null, md) {
          padding: 20px 0;
        }

        > li {
          padding-left: 25px;
          text-transform: uppercase;
          text-align: center;

          &:last-child {
            margin-bottom: 0;
          }

          @include responsive(null, md) {
            margin-bottom: 15px;
          }

          > a {
            position: relative;
            font-size: 1.2em;

            &:hover {
              i {
                display: inline-block;

                @include responsive(null,md) {
                  display: none;
                }
              }
            }

            i {
              display: none;
              width: 100%;
              text-align: center;
              position: absolute;
              bottom: 25px;
              font-size: 1.5em;
            }

            &:hover {
              color: $secondary-color;
            }
          }
        }
      }

      @include responsive(null,md) {
        position: absolute;
        opacity: 0;
        visibility: hidden;
      }
    }

    .menu-btn {
      @include responsive(null, md) {
        border: 1px solid;
        padding: 5px 8px;
        border-radius: 5px;
      }

      div {
        position: absolute;
        left: 100%;
        top: 64%;
        padding-right: 8px;
        margin-top: -0.50em;
        line-height: 1.2;
        font-size: 18px;
        font-weight: 200;
        vertical-align: middle;
        z-index: 99;
      }

      span {
        width: 19px;
        height: 3px;
        margin: 4px 0;
        background: rgb(0,0,0);
        z-index: 99;
        display: none;

        @include responsive(null, md) {
          display: block;
        }
      }
    }

    .mobile-nav {
      align-items: center;
      justify-content: flex-end;
    }

    .expand {
      position: absolute;
      width: 100%;
      top: 145px;
      left: 0;
      z-index: 999;
      background-color: #fff;
      visibility: visible;
      opacity: 1;
      transition: all 0.5s ease;

      ul {
        display: block;
        background-color: #fff;
        z-index: 999;
      }
    }
  }
}