.mojagalerija {
  margin-bottom: 20px;

  &__wrapper {
    margin: 10px 0;
    display: flex;

  }

  &__single {
    padding: 0;
    margin-left: 5px;
  }
}

.icon {

  &__wrapper {
    display: flex;
    justify-content: space-around;
  }
}