// FONTS

$default-font-family: 'Open Sans', sans-serif;
$title-font: 'Quintessential', serif;
$default-font-size: 13px;

// COLORS

$primary-color: #f0dbdf;
$secondary-color: #f49ac1;
$blue-color: #9fc0d5;
$text-color: #525252;