.vasa-vencanja {

  @include responsive(null, md) {
    display: flex;
  }

  @include responsive(null, sm) {
    flex-direction: column;
    text-align: center;
  }

  &__img {
    margin-top: 15px;
  }

  &__p {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    font-weight: 600;
    font-size: 15px;
  }

}

.divider--extrasmall {
  height: 1px;
  background-color: #ddd;
  border: none;
  margin-bottom: 5px;
}

.center {
  text-align: center;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  font-size: 15px;
  float: left;
  padding: 8px 10px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  color: $secondary-color;
}

.pagination a:hover:not(.active) {background-color: $secondary-color;}